.typography {
  /* Typography resets */
  /* Default Link Styles */
  /* Default paragraph styles */
  /* Default header styles */
  /* Helpful Typography Defaults */
  /* Lists */
  /* Unordered Lists */
  /* Ordered Lists */
  /* Definition Lists */
  /* Abbreviations */
  /* Blockquotes */
  /* Microformats */
  /*
   * Print styles.
   *
   * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
  */
  /* Flex Video */
  /* Keystroke Characters */
  /* Labels */
  /* Tables */ }
  .typography *,
  .typography *:before,
  .typography *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .typography html,
  .typography body {
    font-size: 100%; }
  .typography body {
    background: white;
    color: #222222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative; }
  .typography a:focus {
    outline: none; }
  .typography img,
  .typography object,
  .typography embed {
    max-width: 100%;
    height: auto; }
  .typography object,
  .typography embed {
    height: 100%; }
  .typography img {
    -ms-interpolation-mode: bicubic; }
  .typography #map_canvas img,
  .typography #map_canvas embed,
  .typography #map_canvas object,
  .typography .map_canvas img,
  .typography .map_canvas embed,
  .typography .map_canvas object {
    max-width: none !important; }
  .typography .left {
    float: left !important; }
  .typography .right {
    float: right !important; }
  .typography .text-left {
    text-align: left !important; }
  .typography .text-right {
    text-align: right !important; }
  .typography .text-center {
    text-align: center !important; }
  .typography .text-justify {
    text-align: justify !important; }
  .typography .hide {
    display: none; }
  .typography .antialiased {
    -webkit-font-smoothing: antialiased; }
  .typography img {
    display: inline-block;
    vertical-align: middle; }
  .typography textarea {
    height: auto;
    min-height: 50px; }
  .typography select {
    width: 100%; }
  .typography p.lead {
    font-size: 1.21875em;
    line-height: 1.6; }
  .typography .subheader {
    line-height: 1.4;
    color: #6f6f6f;
    font-weight: 300;
    margin-top: 0.2em;
    margin-bottom: 0.5em; }
  .typography div,
  .typography dl,
  .typography dt,
  .typography dd,
  .typography ul,
  .typography ol,
  .typography li,
  .typography h1,
  .typography h2,
  .typography h3,
  .typography h4,
  .typography h5,
  .typography h6,
  .typography pre,
  .typography form,
  .typography p,
  .typography blockquote,
  .typography th,
  .typography td {
    margin: 0;
    padding: 0;
    direction: ltr; }
  .typography a {
    color: #2ba6cb;
    text-decoration: none;
    line-height: inherit; }
    .typography a:hover, .typography a:focus {
      color: #2795b6; }
    .typography a img {
      border: none; }
  .typography p {
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility; }
    .typography p aside {
      font-size: 0.875em;
      line-height: 1.35;
      font-style: italic; }
  .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    line-height: 1.2125em; }
    .typography h1 small, .typography h2 small, .typography h3 small, .typography h4 small, .typography h5 small, .typography h6 small {
      font-size: 60%;
      color: #6f6f6f;
      line-height: 0; }
  .typography h1 {
    font-size: 2.125em; }
  .typography h2 {
    font-size: 1.6875em; }
  .typography h3 {
    font-size: 1.375em; }
  .typography h4 {
    font-size: 1.125em; }
  .typography h5 {
    font-size: 1.125em; }
  .typography h6 {
    font-size: 1em; }
  .typography hr {
    border: solid #dddddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0; }
  .typography em,
  .typography i {
    font-style: italic;
    line-height: inherit; }
  .typography strong,
  .typography b {
    font-weight: bold;
    line-height: inherit; }
  .typography small {
    font-size: 60%;
    line-height: inherit; }
  .typography code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: bold;
    color: #7f0a0c; }
  .typography ul,
  .typography ol,
  .typography dl {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    list-style-position: outside;
    font-family: inherit; }
  .typography ul li ul,
  .typography ul li ol {
    margin-left: 1.25em;
    margin-bottom: 0;
    font-size: 1em;
    /* Override nested font-size change */ }
  .typography ul.square li ul, .typography ul.circle li ul, .typography ul.disc li ul {
    list-style: inherit; }
  .typography ul.square {
    list-style-type: square; }
  .typography ul.circle {
    list-style-type: circle; }
  .typography ul.disc {
    list-style-type: disc; }
  .typography ul.no-bullet {
    list-style: none; }
  .typography ol li ul,
  .typography ol li ol {
    margin-left: 1.25em;
    margin-bottom: 0; }
  .typography dl dt {
    margin-bottom: 0.3em;
    font-weight: bold; }
  .typography dl dd {
    margin-bottom: 0.75em; }
  .typography abbr,
  .typography acronym {
    text-transform: uppercase;
    font-size: 90%;
    color: #222222;
    border-bottom: 1px dotted #dddddd;
    cursor: help; }
  .typography abbr {
    text-transform: none; }
  .typography blockquote {
    margin: 0 0 1.25em;
    padding: 0.5625em 1.25em 0 1.1875em;
    border-left: 1px solid #dddddd; }
    .typography blockquote cite {
      display: block;
      font-size: 0.8125em;
      color: #555555; }
      .typography blockquote cite:before {
        content: "\2014 \0020"; }
      .typography blockquote cite a,
      .typography blockquote cite a:visited {
        color: #555555; }
  .typography blockquote,
  .typography blockquote p {
    line-height: 1.6;
    color: #6f6f6f; }
  .typography .vcard {
    display: inline-block;
    margin: 0 0 1.25em 0;
    border: 1px solid #dddddd;
    padding: 0.625em 0.75em; }
    .typography .vcard li {
      margin: 0;
      display: block; }
    .typography .vcard .fn {
      font-weight: bold;
      font-size: 0.9375em; }
  .typography .vevent .summary {
    font-weight: bold; }
  .typography .vevent abbr {
    cursor: default;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 0 0.0625em; }
  @media only screen and (min-width: 48em) {
    .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
      line-height: 1.4; }
    .typography h1 {
      font-size: 2.75em; }
    .typography h2 {
      font-size: 2.3125em; }
    .typography h3 {
      font-size: 1.6875em; }
    .typography h4 {
      font-size: 1.4375em; } }
  .typography .print-only {
    display: none !important; }
  @media print {
    .typography {
      @page {
        margin: 0.5cm; }
 }
      .typography * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important; }
      .typography a,
      .typography a:visited {
        text-decoration: underline; }
      .typography a[href]:after {
        content: " (" attr(href) ")"; }
      .typography abbr[title]:after {
        content: " (" attr(title) ")"; }
      .typography .ir a:after,
      .typography a[href^="javascript:"]:after,
      .typography a[href^="#"]:after {
        content: ""; }
      .typography pre,
      .typography blockquote {
        border: 1px solid #999;
        page-break-inside: avoid; }
      .typography thead {
        display: table-header-group;
        /* h5bp.com/t */ }
      .typography tr,
      .typography img {
        page-break-inside: avoid; }
      .typography img {
        max-width: 100% !important; }
      .typography p,
      .typography h2,
      .typography h3 {
        orphans: 3;
        widows: 3; }
      .typography h2,
      .typography h3 {
        page-break-after: avoid; }
      .typography .hide-on-print {
        display: none !important; }
      .typography .print-only {
        display: block !important; }
      .typography .hide-for-print {
        display: none !important; }
      .typography .show-for-print {
        display: inherit !important; } }
  .typography button, .typography .button {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 1.25em;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 0.75em;
    padding-right: 1.5em;
    padding-bottom: 0.8125em;
    padding-left: 1.5em;
    font-size: 1em;
    background-color: #2ba6cb;
    border-color: #2284a1;
    color: white; }
    .typography button:hover, .typography button:focus, .typography .button:hover, .typography .button:focus {
      background-color: #2284a1; }
    .typography button:hover, .typography button:focus, .typography .button:hover, .typography .button:focus {
      color: white; }
    .typography button.secondary, .typography .button.secondary {
      background-color: #e9e9e9;
      border-color: #d0d0d0;
      color: #333333; }
      .typography button.secondary:hover, .typography button.secondary:focus, .typography .button.secondary:hover, .typography .button.secondary:focus {
        background-color: #d0d0d0; }
      .typography button.secondary:hover, .typography button.secondary:focus, .typography .button.secondary:hover, .typography .button.secondary:focus {
        color: #333333; }
    .typography button.success, .typography .button.success {
      background-color: #5da423;
      border-color: #457a1a;
      color: white; }
      .typography button.success:hover, .typography button.success:focus, .typography .button.success:hover, .typography .button.success:focus {
        background-color: #457a1a; }
      .typography button.success:hover, .typography button.success:focus, .typography .button.success:hover, .typography .button.success:focus {
        color: white; }
    .typography button.alert, .typography .button.alert {
      background-color: #c60f13;
      border-color: #970b0e;
      color: white; }
      .typography button.alert:hover, .typography button.alert:focus, .typography .button.alert:hover, .typography .button.alert:focus {
        background-color: #970b0e; }
      .typography button.alert:hover, .typography button.alert:focus, .typography .button.alert:hover, .typography .button.alert:focus {
        color: white; }
    .typography button.large, .typography .button.large {
      padding-top: 1em;
      padding-right: 2em;
      padding-bottom: 1.0625em;
      padding-left: 2em;
      font-size: 1.25em; }
    .typography button.small, .typography .button.small {
      padding-top: 0.5625em;
      padding-right: 1.125em;
      padding-bottom: 0.625em;
      padding-left: 1.125em;
      font-size: 0.8125em; }
    .typography button.tiny, .typography .button.tiny {
      padding-top: 0.4375em;
      padding-right: 0.875em;
      padding-bottom: 0.5em;
      padding-left: 0.875em;
      font-size: 0.6875em; }
    .typography button.expand, .typography .button.expand {
      padding-right: 0px;
      padding-left: 0px;
      width: 100%; }
    .typography button.left-align, .typography .button.left-align {
      text-align: left;
      text-indent: 0.75em; }
    .typography button.right-align, .typography .button.right-align {
      text-align: right;
      padding-right: 0.75em; }
    .typography button.disabled, .typography button[disabled], .typography .button.disabled, .typography .button[disabled] {
      background-color: #2ba6cb;
      border-color: #2284a1;
      color: white;
      cursor: default;
      opacity: 0.6;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .typography button.disabled:hover, .typography button.disabled:focus, .typography button[disabled]:hover, .typography button[disabled]:focus, .typography .button.disabled:hover, .typography .button.disabled:focus, .typography .button[disabled]:hover, .typography .button[disabled]:focus {
        background-color: #2284a1; }
      .typography button.disabled:hover, .typography button.disabled:focus, .typography button[disabled]:hover, .typography button[disabled]:focus, .typography .button.disabled:hover, .typography .button.disabled:focus, .typography .button[disabled]:hover, .typography .button[disabled]:focus {
        color: white; }
      .typography button.disabled:hover, .typography button.disabled:focus, .typography button[disabled]:hover, .typography button[disabled]:focus, .typography .button.disabled:hover, .typography .button.disabled:focus, .typography .button[disabled]:hover, .typography .button[disabled]:focus {
        background-color: #2ba6cb; }
      .typography button.disabled.secondary, .typography button[disabled].secondary, .typography .button.disabled.secondary, .typography .button[disabled].secondary {
        background-color: #e9e9e9;
        border-color: #d0d0d0;
        color: #333333;
        cursor: default;
        opacity: 0.6;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .typography button.disabled.secondary:hover, .typography button.disabled.secondary:focus, .typography button[disabled].secondary:hover, .typography button[disabled].secondary:focus, .typography .button.disabled.secondary:hover, .typography .button.disabled.secondary:focus, .typography .button[disabled].secondary:hover, .typography .button[disabled].secondary:focus {
          background-color: #d0d0d0; }
        .typography button.disabled.secondary:hover, .typography button.disabled.secondary:focus, .typography button[disabled].secondary:hover, .typography button[disabled].secondary:focus, .typography .button.disabled.secondary:hover, .typography .button.disabled.secondary:focus, .typography .button[disabled].secondary:hover, .typography .button[disabled].secondary:focus {
          color: #333333; }
        .typography button.disabled.secondary:hover, .typography button.disabled.secondary:focus, .typography button[disabled].secondary:hover, .typography button[disabled].secondary:focus, .typography .button.disabled.secondary:hover, .typography .button.disabled.secondary:focus, .typography .button[disabled].secondary:hover, .typography .button[disabled].secondary:focus {
          background-color: #e9e9e9; }
      .typography button.disabled.success, .typography button[disabled].success, .typography .button.disabled.success, .typography .button[disabled].success {
        background-color: #5da423;
        border-color: #457a1a;
        color: white;
        cursor: default;
        opacity: 0.6;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .typography button.disabled.success:hover, .typography button.disabled.success:focus, .typography button[disabled].success:hover, .typography button[disabled].success:focus, .typography .button.disabled.success:hover, .typography .button.disabled.success:focus, .typography .button[disabled].success:hover, .typography .button[disabled].success:focus {
          background-color: #457a1a; }
        .typography button.disabled.success:hover, .typography button.disabled.success:focus, .typography button[disabled].success:hover, .typography button[disabled].success:focus, .typography .button.disabled.success:hover, .typography .button.disabled.success:focus, .typography .button[disabled].success:hover, .typography .button[disabled].success:focus {
          color: white; }
        .typography button.disabled.success:hover, .typography button.disabled.success:focus, .typography button[disabled].success:hover, .typography button[disabled].success:focus, .typography .button.disabled.success:hover, .typography .button.disabled.success:focus, .typography .button[disabled].success:hover, .typography .button[disabled].success:focus {
          background-color: #5da423; }
      .typography button.disabled.alert, .typography button[disabled].alert, .typography .button.disabled.alert, .typography .button[disabled].alert {
        background-color: #c60f13;
        border-color: #970b0e;
        color: white;
        cursor: default;
        opacity: 0.6;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .typography button.disabled.alert:hover, .typography button.disabled.alert:focus, .typography button[disabled].alert:hover, .typography button[disabled].alert:focus, .typography .button.disabled.alert:hover, .typography .button.disabled.alert:focus, .typography .button[disabled].alert:hover, .typography .button[disabled].alert:focus {
          background-color: #970b0e; }
        .typography button.disabled.alert:hover, .typography button.disabled.alert:focus, .typography button[disabled].alert:hover, .typography button[disabled].alert:focus, .typography .button.disabled.alert:hover, .typography .button.disabled.alert:focus, .typography .button[disabled].alert:hover, .typography .button[disabled].alert:focus {
          color: white; }
        .typography button.disabled.alert:hover, .typography button.disabled.alert:focus, .typography button[disabled].alert:hover, .typography button[disabled].alert:focus, .typography .button.disabled.alert:hover, .typography .button.disabled.alert:focus, .typography .button[disabled].alert:hover, .typography .button[disabled].alert:focus {
          background-color: #c60f13; }
  .typography button, .typography .button {
    padding-top: 0.8125em;
    padding-bottom: 0.75em; }
    .typography button.tiny, .typography .button.tiny {
      padding-top: 0.5em;
      padding-bottom: 0.4375em; }
    .typography button.small, .typography .button.small {
      padding-top: 0.625em;
      padding-bottom: 0.5625em; }
    .typography button.large, .typography .button.large {
      padding-top: 1.03125em;
      padding-bottom: 1.03125em; }
  @media only screen {
    .typography button, .typography .button {
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
      -webkit-transition: background-color 300ms ease-out;
      -moz-transition: background-color 300ms ease-out;
      transition: background-color 300ms ease-out; }
      .typography button:active, .typography .button:active {
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }
      .typography button.radius, .typography .button.radius {
        -webkit-border-radius: 3px;
        border-radius: 3px; }
      .typography button.round, .typography .button.round {
        -webkit-border-radius: 1000px;
        border-radius: 1000px; } }
  @media only screen and (min-width: 48em) {
    .typography button, .typography .button {
      display: inline-block; } }
  .typography .flex-video {
    position: relative;
    padding-top: 1.5625em;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 1em;
    overflow: hidden; }
    .typography .flex-video.widescreen {
      padding-bottom: 57.25%; }
    .typography .flex-video.vimeo {
      padding-top: 0; }
    .typography .flex-video iframe,
    .typography .flex-video object,
    .typography .flex-video embed,
    .typography .flex-video video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .typography .keystroke,
  .typography kbd {
    background-color: #ededed;
    border-color: #dbdbdb;
    color: #222222;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    font-family: "Consolas", "Menlo", "Courier", monospace;
    font-size: 0.9375em;
    padding: 0.125em 0.25em 0em;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .typography .label {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    padding: 0.1875em 0.625em 0.25em;
    font-size: 0.875em;
    background-color: #2ba6cb;
    color: white; }
    .typography .label.radius {
      -webkit-border-radius: 3px;
      border-radius: 3px; }
    .typography .label.round {
      -webkit-border-radius: 1000px;
      border-radius: 1000px; }
    .typography .label.alert {
      background-color: #c60f13;
      color: white; }
    .typography .label.success {
      background-color: #5da423;
      color: white; }
    .typography .label.secondary {
      background-color: #e9e9e9;
      color: #333333; }
  .typography table {
    background: white;
    margin-bottom: 1.25em;
    border: solid 1px #dddddd; }
    .typography table thead,
    .typography table tfoot {
      background: whitesmoke;
      font-weight: bold; }
      .typography table thead tr th,
      .typography table thead tr td,
      .typography table tfoot tr th,
      .typography table tfoot tr td {
        padding: 0.5em 0.625em 0.625em;
        font-size: 0.875em;
        color: #222222;
        text-align: left; }
    .typography table tr th,
    .typography table tr td {
      padding: 0.5625em 0.625em;
      font-size: 0.875em;
      color: #222222; }
    .typography table tr.even, .typography table tr.alt, .typography table tr:nth-of-type(even) {
      background: #f9f9f9; }
    .typography table thead tr th,
    .typography table tfoot tr th,
    .typography table tbody tr td,
    .typography table tr td,
    .typography table tfoot tr td {
      display: table-cell;
      line-height: 1.125em; }
