@charset "UTF-8";
.typography { /* Requires: normalize.css */ /* Global Reset & Standards ---------------------- */ /* Links ---------------------- */ /* Misc ---------------------- */ /* Reset for strange margins by default on <figure> elements */ /* Base Type Styles Using Modular Scale ---------------------- */ /* Lists ---------------------- */ /* Blockquotes ---------------------- */ /* Print styles.  Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/ Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/ }
.typography *, .typography *:before, .typography *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.typography html { font-size: 62.5%; }
.typography body { background: white; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 14px; line-height: 1; color: #222222; position: relative; -webkit-font-smoothing: antialiased; }
.typography a img { border: none; }
.typography a { color: #2ba6cb; text-decoration: none; line-height: inherit; }
.typography a:hover { color: #2795b6; }
.typography a:focus { color: #2795b6; }
.typography p a, .typography p a:visited { line-height: inherit; }
.typography .left { float: left; }
.typography .right { float: right; }
.typography .text-left { text-align: left; }
.typography .text-right { text-align: right; }
.typography .text-center { text-align: center; }
.typography .hide { display: none; }
.typography .hide-override { display: none !important; }
.typography .highlight { background: #ffff99; }
.typography #googlemap img, .typography object, .typography embed { max-width: none; }
.typography #map_canvas embed { max-width: none; }
.typography #map_canvas img { max-width: none; }
.typography #map_canvas object { max-width: none; }
.typography figure { margin: 0; }
.typography body, .typography div, .typography dl, .typography dt, .typography dd, .typography ul, .typography ol, .typography li, .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6, .typography pre, .typography form, .typography p, .typography blockquote, .typography th, .typography td { margin: 0; padding: 0; font-size: 14px; direction: ltr; }
.typography p { font-family: inherit; font-weight: normal; font-size: 14px; line-height: 1.6; margin-bottom: 17px; }
.typography p.lead { font-size: 17.5px; line-height: 1.6; margin-bottom: 17px; }
.typography aside p { font-size: 13px; line-height: 1.35; font-style: italic; }
.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: bold; font-style: normal; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }
.typography h1 small, .typography h2 small, .typography h3 small, .typography h4 small, .typography h5 small, .typography h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }
.typography h1 { font-size: 44px; }
.typography h2 { font-size: 37px; }
.typography h3 { font-size: 27px; }
.typography h4 { font-size: 23px; }
.typography h5 { font-size: 17px; }
.typography h6 { font-size: 14px; }
.typography hr { border: solid #dddddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0; }
.typography .subheader { line-height: 1.3; color: #6f6f6f; font-weight: 300; margin-bottom: 17px; }
.typography em, .typography i { font-style: italic; line-height: inherit; }
.typography strong, .typography b { font-weight: bold; line-height: inherit; }
.typography small { font-size: 60%; line-height: inherit; }
.typography code { font-weight: bold; background: #ffff99; }
.typography ul, .typography ol, .typography dl { font-size: 14px; line-height: 1.6; margin-bottom: 17px; list-style-position: outside; }
.typography ul li ul, .typography ul li ol { margin-left: 20px; margin-bottom: 0; }
.typography ul.square, .typography ul.circle, .typography ul.disc { margin-left: 17px; }
.typography ul.square { list-style-type: square; }
.typography ul.square li ul { list-style: inherit; }
.typography ul.circle { list-style-type: circle; }
.typography ul.circle li ul { list-style: inherit; }
.typography ul.disc { list-style-type: disc; }
.typography ul.disc li ul { list-style: inherit; }
.typography ul.no-bullet { list-style: none; }
.typography ul.large li { line-height: 21px; }
.typography ol { margin-left: 20px; }
.typography ol li ul, .typography ol li ol { margin-left: 20px; margin-bottom: 0; }
.typography blockquote, .typography blockquote p { line-height: 1.5; color: #6f6f6f; }
.typography blockquote { margin: 0 0 17px; padding: 9px 20px 0 19px; border-left: 1px solid #dddddd; }
.typography blockquote cite { display: block; font-size: 13px; color: #555555; }
.typography blockquote cite:before { content: "\2014 \0020"; }
.typography blockquote cite a, .typography blockquote cite a:visited { color: #555555; }
.typography abbr, .typography acronym { text-transform: uppercase; font-size: 90%; color: #222222; border-bottom: 1px solid #dddddd; cursor: help; }
.typography abbr { text-transform: none; }
.typography .print-only { display: none !important; }
@media print { .typography { /* Black prints faster: h5bp.com/s */ /* Don't show links for images, or javascript/internal links */ /* h5bp.com/t */ @page { margin: 0.5cm; }
 }
  .typography * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  .typography a, .typography a:visited { text-decoration: underline; }
  .typography a[href]:after { content: " (" attr(href) ")"; }
  .typography abbr[title]:after { content: " (" attr(title) ")"; }
  .typography .ir a:after, .typography a[href^="javascript:"]:after, .typography a[href^="#"]:after { content: ""; }
  .typography pre, .typography blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  .typography thead { display: table-header-group; }
  .typography tr, .typography img { page-break-inside: avoid; }
  .typography img { max-width: 100% !important; }
  .typography p, .typography h2, .typography h3 { orphans: 3; widows: 3; }
  .typography h2, .typography h3 { page-break-after: avoid; }
  .typography .hide-on-print { display: none !important; }
  .typography .print-only { display: block !important; }
  .typography .hide-for-print { display: none !important; }
  .typography .show-for-print { display: inherit !important; } }
