/*
Syntax error: File to import not found or unreadable: foundation/components/global.
              Load paths:
                /Users/ryan/Development/silverstripe-foundation
                /Users/ryan/Development/silverstripe-foundation/scss
        on line 9 of scss/editor.scss

4: // This includes all of the foundation global elements that are needed to work with any of the other files.
5: @import "foundation/variables";
6: 
7: .typography {
8: 	@import
9: 		"foundation/components/global",
10: 		"foundation/components/type",
11: 		"foundation/components/buttons",
12: 		"foundation/components/flex-video",
13: 		"foundation/components/keystrokes",
14: 		"foundation/components/labels",

Backtrace:
scss/editor.scss:9
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/import_node.rb:67:in `rescue in import'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/import_node.rb:45:in `import'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/check_nesting.rb:86:in `rescue in invalid_import_parent?'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/check_nesting.rb:80:in `invalid_import_parent?'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/check_nesting.rb:144:in `try_send'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/check_nesting.rb:12:in `visit'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/check_nesting.rb:29:in `visit_children'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:39:in `visit'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/check_nesting.rb:29:in `visit_children'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/check_nesting.rb:36:in `visit_root'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:24:in `visit'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/root_node.rb:19:in `render'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/engine.rb:315:in `_render'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/engine.rb:262:in `render'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `each'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:299:in `block in watch'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: foundation/components/global.\A               Load paths:\A                 /Users/ryan/Development/silverstripe-foundation\A                 /Users/ryan/Development/silverstripe-foundation/scss\A         on line 9 of scss/editor.scss\A \A 4: // This includes all of the foundation global elements that are needed to work with any of the other files.\A 5: @import \"foundation/variables\";\A 6: \A 7: .typography {\A 8: 	@import\A 9: 		\"foundation/components/global\",\A 10: 		\"foundation/components/type\",\A 11: 		\"foundation/components/buttons\",\A 12: 		\"foundation/components/flex-video\",\A 13: 		\"foundation/components/keystrokes\",\A 14: 		\"foundation/components/labels\","; }
